@import "polices.scss";
@import "variables.scss";

body{
    font-family: $font-main;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
    background-color: $bg-color;
    color: rgb(167, 170, 175);
    height: 100%;
    cursor: default;
    overflow-x: hidden;
}

*{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #727680 $bg-color;
    &::-webkit-scrollbar{
        display: none;
    }
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
} 

span{
    color: aqua;
}

a{
    text-decoration: none;
    color: $police-color;
}

.date{
    font-family: $font-mono;
}

section{
    height: 90vh;
    padding-top: 10vh;
}

h1, h2{
    font-family: $font-title;
    font-weight: 600;
    color: $police-color;
}

h1{
    font-size: 5rem;
    &:not(#myname){
        @include margins ($bottom: 8%);
    }
}

h2{
    text-transform: uppercase;
}

.container{
    width: 70%;
    margin: auto;
}

figure{
    display: flex;
    align-items: center;
}

figcaption{
    width: 50%;
}

#burger{
    margin-right: 1%;
    img{
        height: 70px;
        width: 70px;
    }
}

#hidden{
    display: none;
}
a.icon{
    display: none;
}

header{
    height: 10vh;
    width: 98%;
    @include margins ();
    display: flex;
    @include justify-content (space-between);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $bg-transparent;

    #icone-site{
        @include margins ($left: 3%);
        transition-duration: 0.4s;
        &:hover{
            transform: scale(1.2);
        }
    }

    #links{
        @include justify-content(space-between);
        list-style: none;
        width: 100%;
        align-items: center;
        padding: 0;
        @include margins ($right : 5%);
        transition-duration: 0.4s;
    }

    .navig{
        display: flex;
        @include justify-content (space-between);
        width: 50%;
        text-align: center;
        align-items: center;
    }

    li {
        a{
        transition-duration: 0.4s;
        }

        &:hover a{
            color: $police-color;
            transform: scale(1.1);
        }
    }

    ul input, ul label{
        display: none;
    }
}

#button-cv{
    width: 90px;
    height: 35px;
    @include justify-content(center);
    align-items: center;
    border-radius: 5px;
    border: none;
    margin-right: 3%;
    background-color: $button-color;
}

.left-sweep{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    // -webkit-transition-property: color;
    // transition-property: color;
    box-shadow: 0 0 1px transparent;
    position: relative;

    &:hover a,
    &:focus a,
    &:active a{
        color: $police-color;
    }

    &::before{
        @include before;
        background: #013f54e7;
        border-radius: 4px;
        transform: scaleX(0);
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        transform-origin: left;
    }
        /* Affichage hover */
    &:hover::before,
    &:focus::before,
    &:active::before{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}


header a img:not(.burger){
    height: 70px;
    width: 90px;
}

    // Section presentation

#section-presentation{
    @include flex-direction(column);

    .box-presentation{
        width: 100%;
        height: 45vh;
        padding-top: 1vh;
    }

    .box-infos{
        width: 90%;
        ul{
            list-style: none;
            @include justify-content(space-around);
        }
        li{
            padding-right: 1%;
            font-family: $font-mono;
        }
        span{
            text-decoration: underline;
            font-weight: 600;
            font-family: $font-main;
        }
    }
}

// Section competences

#section-skills{

    h2{
        text-align: center;
        margin-bottom: 7vh;
    }

    figure:not(.skill){
        width: 100%;
    }

    .competences{
        @include justify-content(space-around);

        .skill{
            @include flex-direction(column);
            background-color: $bg-card;
    
            .skillbox{
                height: 40vh;
                width: 20vw;
                
                .skill-list {
                    height: 80%;
                    width: 65%;
                    margin: auto;
                    p{
                        font-size: 1.4rem;
                        transition-duration: 0.2s;
                        text-align: center;
                        font-family: $font-mono;
                    }
                    &:hover{
                        transform: scale(1.1);
                        color: $hover-color;
                    }
                    li{
                        list-style-type: square;
                    }
                }
            }
        }
    }
}

// Section parcours

#section-parcours{
    height: 210vh;

    h2{
        font-size: 1.4rem;
    }

    figure{
        width: 75%;
        @include margins ();
    }

    #chevron{
        height: 30px;
        width: 30px;
    }

    .parcours .exp{
        @include margins ($bottom:10%, $left:5%)
    }
}








// Section works

#section-works{
    height: 270vh;
    z-index: 2;

    #img_site{
        height: 100%;
        width: 100%;
    }

    figure{
        @include margins ($left:3%,$bottom:5vh,$top:0,$right:0);
        @include justify-content(space-between);
        z-index: 2;
        background-color: #013f54e7;
        border-radius: 20px;
        padding: 2% 0 2% 0;
        transition: 0.3s;
    }

    figcaption{
        width: 20%;
        font-size: 4rem;
        margin: auto;
    }

    a{
        transition: all ease 0.5s;
        width: 70%;
        height: 50%;
    }

    ul{
        @include justify-content(space-between);
        list-style: none;
        align-items: center;
        padding: 0;
    }
}

#img_moved{
    left: 6%;
}

.contain{
    position: relative;
    width: 45vw;
    height: 45vh;

    &:hover .popup{
        height: 100%;
        .used{
            display: flex;
        }
    }

    .popup {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0%;
        width: 100%;
        transition: .5s ease;
        background-color: $bg-semitransparent;    
        overflow: hidden;
        @include flex-direction(column);
    
        p{
            text-align: center;
            font-family: $font-mono;
        }
    
        .used{
            @include justify-content(space-between);
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
            width: 20%;
            li{
                background-color: $langage-color;
                border-radius: 5px;
                padding: 3%;
                margin: 3%;
            }
        }
    }
}

// Section talk

#section-talk{
    height: 70vh;

    p,h1{
        text-align: center;
        @include flex-direction(column);
        @include margins ($bottom:2%)
    }

    p{
        width: 55%;
    }

    h2{
        font-family: $font-mono;
        text-align: center;
        @include margins ($top:0%)
    }

    a{
        margin: auto;
        @include flex-direction(column);
        font-weight: 600;
    }

    img{
        height: 60px;
        width: 60px;
        @include margins ($bottom:1%)
    }

    .contacts{
        @include justify-content(space-around);
        margin-top: 5%;
    }
    
    .contactbox{
        background-color: $bg-card;
        width: 30%;
        height: 20vh;
        @include justify-content(center);
        flex-direction: column;
    }
}

// Footer

footer{
    width: 12%;
    @include margins ();
    @include flex-direction(column);
    align-items: center;
    a img{
        opacity:  0.5;
        transition-duration: 0.4s;
    }
    a:hover img{
        opacity: 1;
    }
}


// Responsive

@media screen and (max-width:1335px) {
    body{
        font-size: 1.1rem;
    }
    .container{
        width: 80%;
    }
    h1{
        font-size: 2.5rem;
    }
    #section-skills h1{
        text-align: center;
    }
    header {
        width: 100%;
        .container{
            width: 90%;
        }

        nav ul {
            @include justify-content(right);
            padding: 0;
        }

        .navig{
            width: 53%;
            align-items: center;
            #links{
                display: block;
                overflow: hidden;
                a {
                    padding-top: 3%;
                    padding-bottom: 3%;
                    display: block;
                }
            }
            
        }

        .icon, .icon img{
            display: block;
        }
    }
    #links{
        top: 0;
        left: 0;
        text-align: center;
        background-color: rgb(30, 47, 75);
        position: fixed;
        display: block;
        width: 100vw;
        height: 0;
    }
    #cross{
        margin-left: 85%;
        transition: 0.3s;
    }


    .box-presentation{
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .box-infos{
        width: 100%;

        ul{
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }

        li{
            padding-bottom: 5%;
        }
    }

    .skillbox{
        width: 100%;
    }

    #section-skills{
        height: 200vh;
        padding: 0;
        h2{
            font-size: 2rem;
        }
        .competences{
            @include flex-direction(column);
        }
        .skill-list{
            width: 100%;
        }
        .skill{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #section-parcours{
        height: 160vh;
    }
    .parcours .exp{
        @include margins($top:0,$right:0,$bottom:5%,$left:0);

    }
    .parcours figcaption{
        width: 100%;
    }



    #section-works{
        height: 185vh;

        figure{
            @include flex-direction(column);
            @include margins($bottom:5vh);
            width: 50%;
        }

        figcaption{
            font-size: 2rem;
            width: 100%;
            text-align: center;
        }

        #responsive-text{
            display: none;
        }

        #hidden{
            display: block;
        }

        a{
            width: 100%;
        }
        .contain{
            width: 100%;
            height: 30vh;
        }
        #img_moved{
            left: 0;
        }
    }
    
    #section-talk{
        height: 80vh;
        .contacts{
            @include flex-direction(column);
            @include margins();
            width: 65%;
        }
        .contactbox{
            width: 100%;
            @include margins($top:5%);
            h2,a{
                font-size: 1rem;
            }
        }
    }

    footer{
        width: 60%;
    }
}

@media screen and (max-width:600px){
    header {

        #links li a{
            font-size: 2rem;
            #cross{
                margin-left: 74%;
            }
        }
    }

    #section-works figure{
        width: 90%;
    }

    #section-skills h2{
        font-size: 1.5rem;
    }

    #section-parcours{
        height: 212vh;
    }
}